<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Keycast Bridge</vendor>
  <action id="fr.jeromelab.KeycastBridge.capture">
    <description>Read selected keyboards and optional mouse clicks for OBS</description>
    <description xml:lang="fr">Lire les claviers sélectionnés et les clics de souris optionnels pour OBS</description>
    <message>Authorize Keycast Bridge to open selected keyboards and, if enabled, mice.</message>
    <message xml:lang="fr">Autoriser Keycast Bridge à ouvrir les claviers sélectionnés et, si activée, la souris.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/keycast-bridge-capture</annotate>
  </action>
</policyconfig>
